@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
/* General */
body {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Overpass', sans-serif;
  margin: 0;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  text-decoration: none;
}
/* Third Scetion */
.sect-three {
  display: grid;
  grid-template-columns: 50% 1fr 225px;
  align-items: center;
  margin: 100px 0 150px 0;
}
.sect-three__image-block {
  margin-left: -295px;
}
.sect-three__image-block__image {
  width: 100%;
}
.sect-three__text-block__title {
  font-size: 26px;
  color: hsl(208, 49%, 24%);
  margin: 20px 0;
}
.sect-three__text-block__text {
  line-height: 2;
  margin: 15px 0 0 0;
}
.sect-three__text-block__text-one {
  margin-bottom: 100px;
}
/* Footer Section */
.footer {
  background: hsl(240, 10%, 16%);
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 75px 150px 25px;
  border-top-right-radius: 100px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
}
.footer__menu__block-title {
  font-weight: 500;
}
.footer__menu__sub-menu {
  margin-top: 40px;
}
.footer__menu__item {
  margin-bottom: 15px;
}
.footer__menu__link {
  color: hsl(240, 2%, 79%);
}
/* Attribution section */
.attribution {
  font-size: 11px;
  text-align: center;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 50px 0 0 0;
}
.attribution a {
  color: hsl(240, 2%, 79%);
}
